/* shared style */
* {

    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    border-radius: 0.5rem;
    background: #FF900E;
    padding: 1.25rem 1.50rem;
    color: #ffffff;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
main{
    max-width: 80%;
    margin: 0 auto;
}
.text-light-gray{
    color: #727272;
    margin: 1.25rem 0 2rem 0;

}


/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 9.375rem;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;

}

.menubar>ul {
    display: flex;
}

.menubar li {
    list-style-type: none;
    margin-right: 1.25rem;
    font-weight: 500;
}

.menubar li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
}

/* banner area style  */
.banner-content {
    max-width: 28rem;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    /* font-size: 3.75rem; */
    margin-top: 3.75rem;
    font-weight: 700;
    color: #131313;
}



.banner-img {
    margin-top: 3rem;
    width: 100%;
}

/* team style  */
.team-container{
    display: flex;
    margin: 3rem 0;
    align-items: center;
}
.team-img img{
    width: 100%;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    width: 50%;
}
.team-content{
    width: 50%;
    /* align-items: center;
    margin: 9.375rem 1rem; */
    padding: 0 2rem;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .first-span{
    font-weight: 500;
}
.team-title .second-span{
    color: #131313;
    font-weight: 700;
}
.team-title .third-span{
    color: #FF900E;
    font-weight: 700;
}




/* responsive style */


/* mobile device */
@media screen and (max-width: 576px) {
        header{
            padding: 1.25rem;
        }
        nav, .team-container{
            flex-direction: column;
        }
        nav ul{
            margin-top: 1rem;
        }
        .team-img{
            grid-template-columns: 1fr;
            width: 100%;
        }
        .team-content{
            width: 100%;
            margin-top: 1rem;
            padding: 0 1rem;
        }
}

/* medium device */

@media screen and (min-width: 577px) and (max-width: 960px) {
    header{
        padding: 3rem;
    }
    nav, .team-container{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .team-content{
        width: 100%;
        margin-top: 1.5rem;
        padding: 0 1.5rem;
        text-align: center;
    }
   
}
